
.container{
    margin-top: 40px;
    width: 1000px;
    height: 1000px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
   
    
    justify-items: center;
 
    
}
.shop_cart{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.btn{
    width: 50px;
    height: 30px;
    background-color:rgb(203, 17, 147);
    border-radius: 7px;
    border: none;
}
.btnBuy{
    width: 70px;
    height: 35px;
    margin-top: 15px;
    background-color: rgb(203, 17, 147);
    border-radius: 7px;
    border: none;
}
.shop{
    margin-right: 0px;
    display: flex;
    justify-content: center;
    width: 200px;
    background-color:rgb(227, 227, 229);
    border: solid 1px;
}
.pi{
    font-size: large;
    
}
.cart{
    display: flexbox;

    justify-content: center;
    justify-items: center;
    width: 40%;
    height: 300px;
    border:solid 2px;
    background-color: rgb(227, 227, 229);
    
}
.image{
    width: 70%;
    height: 150px;
}
.btnn{
    background-color: transparent;
    border: none;
    font-size: 30px;
    outline: none;
    color: gray;
}